fastapi
uvicorn
sqlalchemy
pymysql
python-dotenv
opentelemetry-sdk
opentelemetry-api
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp-proto-grpc